.container-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-1 div {
  padding: 10px;
  font-style: italic;
}

/* body {
  font-family: Helvetica;
} */

a {
  outline:0;
}

#belts {
 width:400px;
 text-align: center;
}

#lanyards {
  width: 400px;
  text-align: center;
}

#watchbands {
  width: 400px;
  text-align: center;
}

/* @media only screen and (max-width:480px)
{
    #belts, #lanyards, #watchbands
    {
        display: block;
        float: none;
        width: 100%;
    }
} */
